@import "tailwindcss";
@plugin "daisyui";

/* استخدام المتغيرات لخطوط next/font */
:root {
  --font-sans: var(--font-latin);
  --font-ar: var(--font-arabic);
  --font-tr: var(--font-mukta);
  --color-background: #ffffff;
  --color-foreground: #111111; /* نص داكن للـ Light Mode */
}

[data-theme="dark"] {
  --color-background: #1f2937;
  --color-foreground: #f9fafb;
}

/* اجعل BODY يعتمد المتغيرات */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-arabic), var(--font-latin), var(--font-mukta),
    sans-serif;
}
